asyncgui==0.6.1
asynckivy==0.6.2
certifi==2024.2.2
charset-normalizer==3.3.2
comtypes==1.4.1
docutils==0.21.1
exceptiongroup==1.2.0
idna==3.7
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.gstreamer==0.3.3
kivy-deps.sdl2==0.7.0
Kivy-examples==2.3.0
Kivy-Garden==0.1.5
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip
materialyoucolor==2.0.9
Pillow==9.5.0
Pygments==2.17.2
pypiwin32==223
pyttsx3==2.90
pywin32==306
requests==2.31.0
urllib3==2.2.1
